<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
	
	<body>
	
	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
	<p>
		<form action="/projects/save" th:object="${project}" method="POST">
		  <p>
		Project   <input type="text" placeholder="Project Name" th:field="*{name}">
		    <p>		
		
		Project Stage <select th:field="${project.stage}">
						 <option th:value="NOTSTARTED"> Not Started</option>
						 <option th:value="INPROGRESS"> In Progress</option>
						 <option th:value="COMPLETED"> Completed</option>
					 </select>
		<p>	
		
		
		Description  	<p>	<textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
		<p>	
	
			
			Employees works on	<p>	<select th:field="${project.employees}" multiple="multiple" >
											<option th:each ="employee :${employeesList}" 
													th:value="${employee.employeeId}" 
													th:text="${employee.firstName}">
											
											</select>
			<p>		
		<button type="submit">Create Project</button>
		
		</form>
	</div>
	
</body>

</html>